.contact-form {
  padding: 40px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
}
#text-form {
  height: 14em;
}

#contact-page input[type="text"],
#text-form {
  background-color: #0d1017;
  border: 0;
  border-bottom: 1px solid #afafaf;
  padding: 5px 10px;
  margin: 40px 0px;
  width: 45em;
  display: block;
}

#text-form {
  resize: none;
}

#contact-page {
  display: flex;
  gap: 50px;
  background: linear-gradient(
    318deg,
    rgba(7, 37, 65, 1) 0%,
    rgba(13, 16, 23, 1) 25%,
    rgba(7, 9, 14, 1) 100%
  );
}
